<!DOCTYPE html >
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <meta charset="utf-8">
    <title>Test task</title>
</head>

<body>

<header>


    <div class="logo">SOFT</div><div class="logo2">GROUP</div>

    <div class="navigation">
        <a class="menuButton" href="index.php">Главная</a>
        <a class="menuButton" href="showPop.php">Популярные</a>
        <a class="menuButton" href="showTop.php">Лучшие блоггеры</a>
    </div>
</header>
