<div class="loginPanel">
    <div class="lcLogin">
        <div class="lcol">
            <form method="post" action="login.php">
                <span class="fa fa-user fa-2x login" aria-hidden="true"></span>
                <input id="loginField" type="text" name="login" value=""><br>
                <span class="fa fa-lock fa-2x login" aria-hidden="true"></span>
                <input id="passField" type="password" name="password">
                <input class="loginButton" type="submit" value="Логин">
                <input id="checkbox" type="checkbox" name="notMyPC">
            </form>
        </div>
        <div class="rcol">
            <a class="menuButton" href='registration.php'>Регистрация</a><br>
            <div class="dontRem">: Чужой компьютер</div>


        </div>
    </div>
</div>
