<div class="blog_rec">

        <div class="rec_footer">
            <b class='author'>Автор: <?=$one[6]?></b>
            <b class='time'>Добавлено: <?=$one[5]?></b>
        </div>

        <div class="blog_title">
            <b><?=$one[2]?></b>
        </div>

        <div class="blog_text">
            <img src="../<?=$one[4]?>"/><?=$one[3]?>
        </div>

        <div class="htags">
            <?=$htags?>
        </div>

        <div class="rec_footer2">
            <a class='coments' href="blogPage.php?id=<?=$one[0]?>">Коментариев: <?=countComents($one[0])?></a>
            <a class='likes' href="addLike.php?id=<?=$one[0]?>">Лайков: <?=countLikes($one[0])?></a>
        </div>
